<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Event Details</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="/javascripts/navBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="/javascripts/eventDetails.js" defer></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>

<body onload="getLoginStatus()">
    <nav>
        <ul id="menu">
            <li><a href="index.html"><img src="/images/image.png" alt="EZ logo" id="logo"></a></li>
            <li><div class="headerButton" id="navLogin"><a href="login.html">LOG IN</a></div></li>
            <li><div class="headerButton" id="navSignup"><a href="login.html">SIGN UP</a></div></li>
            <li><div class="headerButton" id="navLogout" onclick="log_out()">LOG OUT</div></li>
            <li><div class="headerButton" id="navAccount"><a href="account.html">ACCOUNT</a></div></li>
            <li><div class="headerButton"><a href="login.html" id="login">+ NEW EVENT</a><a href="createEvent.html" id="create">+ NEW EVENT</a></div></li>
            <li><div class="headerButton" id="navAdmin"><a href="admin.html">ADMIN</a></div></li>
            <div id="loginPlan"></div><div id="createPlan"></div>
        </ul>
    </nav>

    <main id="account">

    <div>
        <h3 class="eventHeading">
        <span>{{eventName}}</span>
        <button type="button" class="share">SHARE</button>
        </h3>
    </div>


    <div id="emailNotif" class="titleBox emailBox" v-if="newParticipant">
        <p class="boxHeading"> Please enter your E-mail address if you'd like notifications: </p>
        <input type="email" class="inputBox" id="memberEmail"></input>
        <p class="boxHeading"> What notification do you want via Email?</p>
        <form>
            <input type="checkbox" id="available" value="true" v-model="available">
            <label for="vehicle1">availability is confirmed by someone</label><br>
            <input type="checkbox" id="finalised" value="true" v-model="final">
            <label for="vehicle2"> the event is finalised</label><br>
        </form>
        <p class="boxHeading"> Select the date you are available on for the event below :)</p>
    </div>
    <button type="button" v-on:click="loading()">show table</button>
    {{getEventDetails()}}
    <table id="table">
        <tr class="titleBox">
            <th>&nbsp;</th>
            <th v-bind:colspan="num" v-for="month in months" v-for="num in datesInMonths"id="month">{{month}}</th>
        </tr>
        <tr class="titleBox">
            <th>&nbsp;</th>
            <th v-for="date in dates">{{date}}</th>
        </tr>
        <tr id="you" v-if="newParticipant">
            <td class="name"><input type="text" value="Y/N" v-model="name" class="nameInput" id="yourName"></td>
            <td v-for="(current,index) in currentSelected" id="yourDates">
                <img src="/images/greenTick.png" alt="tick" id="tick" v-if="currentSelected[index]" v-on:click="changef(index)">
            //???    <button type="button" v-on:click="changet(index)" v-else></button>

             </td>
        </tr>
        <tr v-for="sname in other">
            <td class="name">{{sname.name}}</td>
            <td v-for="sdate in sname.selected"><img src="/images/greenTick.png" alt="tick" id="tick" v-if="sdate"></td>
        </tr>
    </table>

    <div id="emailNotif" class="titleBox emailBox" v-if="date">
        <p class="boxHeading">Enter the finalised date</p>
        <button type="button" class="submitButton" onclick="vueinst.date = false;">Done</button>
        <input type="date" class="inputBox" id="finaliseddate"></input>
    </div>

    <button type="button" class="returnButton"><a href="account.html">BACK</a></button>
    <button type="button" class="submitButton" id="done" onclick="vueinst.newParticipant = false; vueinst.participantButton= true; vueinst.done = false;" v-if="done" >DONE</button>
    <button type="button" class="submitButton" onclick="vueinst.finalise = true; vueinst.date = true; vueinst.participantButton = false;">Finalise</button>

    </main>
</body>